{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Sonic</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo libero harum nisi dolor odit aperiam quaerat maxime, consequuntur autem ipsa dolorum fuga esse itaque mollitia laudantium voluptas porro temporibus sunt?
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/sonix.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer}}